/* src/app/styles/Home.module.css */

.container {
  background: linear-gradient(to right, purple, black);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.hola {
  font-size: 2rem;
}

.bellIconContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bellIcon {
  font-size: 100px;
  color: white; 
  z-index: 10;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
}

.circle1 {
  width: 150px;
  height: 150px;
  background-color: #c482f0; 
  z-index: 1;
}

.circle2 {
  width: 200px;
  height: 200px;
  background-color: #671368; 
  z-index: 2;
}

.circle3 {
  width: 250px;
  height: 250px;
  background-color: #a438a4; 
  z-index: 3;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700; 
  margin-bottom: 10px;
}

.paragraph {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.customButton {
  padding: 20px 60px;
  font-size: 18px;
  background-color: #310c32;
  color: #efe1e1;
  border: 5px solid #7a2682;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-top: 20px;
}

.customButton:hover {
  background-color: #ab37ab;
  border-color: #48043d;
}
